page-profile-view {
    .name{
        font-weight: bold;
        text-align: center;
    }
    .profile-image{
        width: 100%;
        min-height: calc(100vw - 40px);
        display: inline-block;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .details{
        padding-top: 20px;
    }
    .phone{
        font-size: 1.2em;
    }

    table{
        td{
            padding: 10px;
        }
    }
}
