page-profile-view {
    .name{
        font-weight: bold;
        text-align: center;
    }
    .phone{
        font-size: 1.2em;
    }

    table{
        td{
            padding: 10px;
        }
    }
}
