page-profile-view {
    .profile-image{
        width: 101%;
        min-height: calc(100vw - 40px);
        display: inline-block;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        .name{
            font-weight: bold;
            text-align: center;
            color: #fff;
            position: absolute;
            bottom: 5px;
            left: 15px;
            text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
            z-index: 1;
        }

        &::after{
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            width: 100vw;
            height: 80px;
            z-index: 0;

            $col1:rgba(0, 0, 0, 0);
            $col2:rgba(0, 0, 0, 0.5);

            background: $col1;
            background: -moz-linear-gradient(top, $col1 0%, $col2 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, $col1), color-stop(100%, $col2));
            background: -webkit-linear-gradient(top, $col1 0%, $col2 100%);
            background: -o-linear-gradient(top, $col1 0%, $col2 100%);
            background: -ms-linear-gradient(top, $col1 0%, $col2 100%);
            background: linear-gradient(to bottom, $col1 0%, $col2 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        }
    }
    .details{
        //padding-top: 20px;
    }
    .phone{
        font-size: 1.2em;
        margin: 0;
    }

    table{
        td{
            padding: 10px;
        }
    }
}
