<ion-header>
  <ion-navbar>
    <ion-title class="app-title">{{ 'APP_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <div item-start class="profile-image" [style.backgroundImage]="apiroot + '/user/picture?image=' + item.profile_image" ></div>
        <h2>{{item.firstname}} {{item.lastname}}</h2>
        <p *ngIf="_user">{{item.district}} District</p>
      </button>
    </ion-item-sliding>
  </ion-list>

</ion-content>